{% extends 'poster/base.html' %}
{% load static %}

{% block content %}
<div class="form">
    <h1 style="font-size: 40px ;" class="form__title">{{title}}</h1>

    <div class="form__errors">{{form.non_field_errors}}</div>

    <form class="form__wrapper" method="post">
        {% csrf_token %}
        {% for f in form %}
        <p><label for="{{ f.id_for_label }}">{{f.label}}:</label>{{ f }}</p>
        <div class="form_errors">{{ f.errors }}</div>
        {% endfor %}
        <button class="form__button" type="submit">Войти</button>
    </form>
</div>

{% endblock content %}