@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.kino {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.kino__info {
  padding-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.kino__description {
  font-size: 27.2727272727px;
}

* {
  font-family: "Inter", sans-serif;
}

.form {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__title {
  margin-bottom: 30px;
}
.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.form__wrapper p {
  padding: 10px 0;
}
.form__button {
  padding: 7px 30px;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  background-color: rgb(43, 42, 42);
}
.form > * {
  font-size: 23px;
}
.form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__errors {
  color: rgba(221, 57, 57, 0.966);
}

input {
  padding: 7px;
}

select {
  padding: 7px 10px;
}

#id_is_published {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-left: 10px;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  background: rgba(172, 255, 47, 0.24);
}

*::selection {
  background: rgba(172, 255, 47, 0.24);
}

html,
body {
  height: 100%;
}

a {
  color: white;
}
a:hover {
  opacity: 0.8;
  -webkit-transition: 0.7;
  transition: 0.7;
}

li {
  list-style: none;
}

.wrapper {
  background-color: rgb(75, 73, 73);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  padding: 25px 0;
  background-color: rgb(43, 42, 42);
  color: white;
}
.header__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}
.header__burger {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list-link {
  padding-left: 15px;
  font-size: 30px;
  cursor: pointer;
}
.nav__list-link:first-child {
  padding-left: 0;
}

.main {
  margin-top: 109.34px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: rgb(75, 73, 73);
  color: white;
  padding: 70px 0;
}
.main__title {
  font-size: 39px;
  text-align: center;
  padding-bottom: 20px;
}
.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  padding-right: 40px;
  padding-bottom: 30px;
  background-color: rgb(43, 42, 42);
}

.selected {
  font-weight: 600;
  font-size: 30px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto;
}
.categories li {
  line-height: 30px;
  padding-top: 25px;
  font-weight: 500;
  font-size: 30px;
  font-family: "Inter", sans-serif;
}

p, h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

li a {
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

.footer {
  color: white;
  background-color: rgb(43, 42, 42);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer__wrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__info {
  padding-top: 15px;
}
.footer__info-copy {
  text-transform: uppercase;
  padding-top: 10px;
}

.media__link {
  padding-left: 20px;
}
.media__link:first-child {
  padding-left: 0%;
}

.products {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 80px;
  gap: 15px;
  row-gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.products__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products__item {
  row-gap: 5px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 24px;
}
.products__item-title {
  padding-top: 10px;
  max-width: 288px;
}
.products__item__item img {
  border-radius: 2%;
}

.list {
  margin-right: 20px;
}
.list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list__items {
  font-family: inherit;
}
.list__items-selected {
  font-family: inherit;
  font-size: 30px;
  text-decoration: underline;
  -webkit-text-decoration-color: green;
          text-decoration-color: green;
}
.list__items-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
}

.about {
  padding-left: 30px;
  text-align: center;
}
.about__title {
  font-size: 30px;
  padding-bottom: 10px;
}
.about__description {
  font-size: 28.8px;
  font-weight: 500;
}

@media print {
  footer, header, aside {
    display: none;
  }

  *, .main {
    padding: 0;
    margin: 0;
  }

  main {
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .about {
    padding: 0;
    margin: 0;
    color: black;
  }
  .about__title {
    padding: 0;
    margin: 0;
    color: black;
  }
}
@media screen and (max-width: 950px) {
  svg {
    width: 200px;
    height: 90px;
  }
}
@media screen and (max-width: 774px) {
  #id_captcha_1 {
    width: 100px;
  }

  #id_content {
    width: 200px;
  }

  .form > * {
    font-size: 16px;
  }

  .about {
    padding-left: 0%;
  }

  .list {
    margin-right: 0;
  }

  .form {
    padding-left: 0;
  }

  .main__wrapper {
    display: block;
    position: relative;
  }

  aside {
    padding-bottom: 30px;
  }

  .products {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
    padding-left: 0;
  }

  .header__burger {
    margin-right: 10px;
    z-index: 20;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: 0.7;
    transition: 0.7;
  }
  .header__burger::after, .header__burger::before {
    -webkit-transition: 0.7;
    transition: 0.7;
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger::before {
    top: 0;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .categories__title {
    font-size: 30px;
  }

  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(75, 73, 73);
    z-index: 10;
    position: fixed;
    top: -100%;
  }

  .header__nav.active {
    top: 108px;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list li {
    font-size: 25px;
    padding-top: 10px;
  }

  .header__logo {
    z-index: 20;
  }

  .header__wrapper {
    z-index: 20;
  }

  .kino {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kino__description {
    font-weight: 500;
  }
  .kino__info {
    padding-left: 0;
    padding-top: 30px;
  }
}
@media screen and (max-width: 398px) {
  svg {
    width: 200px;
    height: 80px;
  }
}
@media screen and (max-width: 800px) {
  .form {
    padding: 0;
  }
}